@import 'typeface-ranchers';
@import 'typeface-ropa-sans';


//bulma overrrides
$brandYellow: #E1D035;
$primary: #4C2F62;
$light: #EEEBEE; // also background
$dark: #2F2F2F;
$text: $primary;

$body-family: 'ropa sans';
$footer-padding: 3rem 1.5rem 3rem;



// custom variables

$family-brand: 'ranchers';



