@import "../../variables.scss";

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .buttonsContainer {
    margin: 3em;

    & > div {
      margin-bottom: 3em;
      justify-content: center;
      display: flex;

      & > label.label {
        &:active,
        &:hover {
          border-color: $primary;
        }
        height: 3.8em;
        border-color: $primary;
        &:first-of-type {
          border: 1px solid $primary;
          border-radius: 15px 0 0 15px;
        }
        &:last-of-type {
          border: 1px solid $primary;
          border-radius: 0 15px 15px 0;
        }
      }
    }
  }
  .moto {
    display: flex;
    justify-content: center;
    padding-bottom: 1em;
  }
}
