@import '../../variables.scss';

.person-card {
  height: 7.8rem;
  width: 6.5rem;
  background-color: #2E9DA7;
  border-radius: 20%;
  display: flex;
  flex-direction: column;
  img {
    margin: 0.6rem auto 0 auto;
    width: 4.2rem;
    border-radius: 100%;
  }
  h1 {
    margin: 0rem auto;
    font-size: 1.7rem;
  }
}