@import "../../variables.scss";

form#registration {
  label {
    padding-left: 0.6em;
  }
  input {
    height: 2.6em;
    margin: 0.6em 0;
  }
  button.addMore {
    height: 3em;
    display: block;
    margin: 0.9em auto;
    border-color: $grey-light;
    &:focus,
    &:hover {
      border-color: $primary;
    }
  }
}
