@import "../../variables.scss";

footer.footer {
  border-top: 0.03em solid $grey-light;
  height: 110px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  a {
    margin: 10px;
  }
}
