@import '../../variables.scss';

footer.footer {
  height: 110px;
  background-color: $secondary-background;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .social {
    & > * {
      margin: 10px;
    }
    .fa-twitter-square {
      color: #1DA1F2;
    }
    .fa-github {
      color: $dark;
    }
  }
}