section.main {
  
  background-image: url('../../assets/images/background.png');
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  height: 80vh;
  widows: 100%;
  display: flex;
  justify-content: center;
  .cta {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    .buttons-container {
      flex-direction: column;
      & button {
        margin: 20px;
      }
    }
  }
}