@import '../../variables.scss';

.section {
  display: grid;
  height: 100%;
  justify-content: center;
  grid-template-columns: 2fr 4fr;
}
.background {
  background-image: url('../../assets/images/background.png');
  background-repeat: no-repeat;
  background-size: cover;
}